@CHARSET "UTF-8";
*{margin: 0; padding: 0;}
#content_form{width:1200px; margin: 60px auto; padding:0 30px; border: 1px solid #cccccc; font-size: 1.2em; }
#content_form table {margin: 0 auto; width:80%; height: 300px; padding: 5px; text-align: center;}
#content_form tr{ padding: 5px; margin: 7px;}
#content_form #nav {width:500px;}
#content_form td, th {text-align: center; padding:5px; margin-left: 10px;}
#content_form hr{width:80%; margin: 10px auto; border: 3px solid black; color: black;}
#content_form h2 {text-align: center; color:black; margin: 30px 0;}
#content_form b {text-align: center; color:red;}
#content_form a { text-decoration: none; color:black}
#content_form .paging {text-align: center;}
#content_form textarea{
	resize: none;
}
#content_form input{
	height: 30px;
}
#content_form input:not(.btn), textarea {
	width: 90%; 
}

