@charset "UTF-8";
#wrap {
	margin: 0 auto;
	padding: 0 50px;
	border: 1px solid lightgray;
	font-family: 'Noto Sans KR', sans-serif;
	overflow: hidden;
	text-align: center;
}
#wrap .content h2{
	margin-top: 10px;
}
#wrap .content .list{
	margin: 40px auto;
	width: 1300px;
	padding: 0 150px;
	
}
#wrap .content .list .table{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #dfdfdf;
	border-collapse: collapse;
	font-size: 13px;
}

#wrap .content .list .table tr{
	height: 50px;
}
#wrap .content .list .table .th1 {
	width: 100px;
	
}
#wrap .content .list .table td {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	box-sizing: border-box;
	padding: 10px;
}
#wrap .content .list p{
	width: 1100px;
	height: 50px;
	text-align: right;
	margin-top: 20px;
	margin-right: 40px;
}
.paging{
	margin: 0 auto;
	text-align: center;
	height: 50px;
	line-height: 20px;
}
.paging span{
	padding: 0 7px;
}
